<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>This is the old Marker Template with the mkforms form template</title>
	</head>
	<body>
		<!-- ###SUBSCRIBE_SUCCESS_SUBSCRIBE### -->
			Thank you for the subscription.
			<br />
			You will receive an activation mail now
			to confirm the registration.
		<!-- ###SUBSCRIBE_SUCCESS_SUBSCRIBE### -->

		<!-- ###SUBSCRIBE_SUCCESS_ACTIVATE### -->
			You are succefuly subscribed!
		<!-- ###SUBSCRIBE_SUCCESS_ACTIVATE### -->


		<!-- ###SUBSCRIBE_FORMWRAP### -->
			###FORM###
		<!-- ###SUBSCRIBE_FORMWRAP### -->



		<!-- ###SUBSCRIBE_FORM### -->

			<div class="errors">{errors}</div>

			<fieldset>
				{subscriber-gender}
				{subscriber-first_name}
				{subscriber-last_name}
			</fieldset>
			<fieldset>
				{subscriber-email}
			</fieldset>
			<fieldset>
				{button-subscribe}
			</fieldset>

		<!-- ###SUBSCRIBE_FORM### -->

	</body>
</html>
